<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puppy</title>
  </head>
  <body>
    <h1>Your Puppy</h1>
    <%= "Puppy name:" + "\n" + @name" %>
    <%= "Puppy breed:" + "\n" + @breed" %>
    <%= "Puppy age:" + "\n" + @age" %>
  </body>
</html>
